.test{
    margin: 20px;
    font-size: 30px;
    color: blue;

}
.drawer{
    display: none !important;
}
@media only screen and (max-width: 600px) {
    .drawer{
        display: block !important;
    }
}

